/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    height: 100vh;
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

header img {
    height: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
}

main {
    width: 35%;
    margin: 6rem auto auto auto;
}
main > * {
    text-align: center;
}

main form {
    text-align: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

main input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 0 1em;
}
main label {
    margin: 2em 0 0.5em 0;
}

form p {
    color: #1d6154;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    font-size: 1em;
    height: 2.5em;
    background-color: #1d6154;
    margin: 2.5em auto 2em auto;
    width: 200px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}

#forgetPassword {
    text-align: center;
    text-decoration: underline;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}